 <div class="container">

<h1>All Your French Cities</h1>
<div>
  <% @french_cities.each do |city| %>
    <p> <%= city.name %> </p>   
    <p>
      <%= link_to "Show this city", city %>
      <br>
    </p>
  <% end %>
</div>
</div>

